@charset "utf-8";
/* CSS Document */

#cd_info {
	padding: 24px 20px 0;
	margin-bottom: 29px;
	height: 1980px;
	background-image: url(../final/images/bg_cd_info.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

#cd_jacket {
	float: left;
	width: 336px;
	margin-bottom: 14px;
}

#cd_copy {
	float: right;
	width: 504px;
	padding-top: 21px;
}

div#cd_copy p { margin: 0;}

div#cd_copy #cd_title {	margin: 16px 0 20px 44px;}

div#contents #benefit { margin: 0;}

div#contents #benefit li {
	margin: 0 0 14px;
	font-weight: bold;
	font-size: 18px;
	line-height: 29px;
}

#benefit li img { vertical-align: top;}

#contents #price {
	margin-bottom: 18px;
	text-align: center;
}

#contents #disc2 {
	margin-bottom: 12px;
	text-align: center;
	/*font-weight: bold;*/
	font-size: 36px;
	font-family: 'RocknRoll One', sans-serif;
}

#contents #samples {
	margin: 0;
	list-style: none;
}

#contents #samples li {
	float: left;
	margin: 0 12px 0 0;
}
#contents #samples li#samples_last { margin: 0;}


#tracklist {
	padding: 17px 22px 1px;
	font-size: 17.5px;
	background-image: url(../final/images/bg_present.png);
	height: 1020px;
	background-repeat: no-repeat;
}

/* コロ助合作用 */
#tracklist_kouhen {
	padding: 17px 22px 1px;
	font-size: 17.5px;
	background-image: url(../final/images/bg_present2.png);
	height: 1170px;
	background-repeat: no-repeat;
}
#tracklist_kan {
	padding: 17px 22px 1px;
	font-size: 18.5px;
	background-image: url(../final/images/bg_present3.png);
	height: 445px;
	background-repeat: no-repeat;
}

#congratulations {
	padding: 17px 22px 1px;
	background-image: url(../final/images/bg_congratulations.png);
	height: 900px;	/* 高さ設定追加(スマートフォンで表示が崩れる為) */
	background-repeat: no-repeat;
}

#cd_txt { width: 860px; font-size: 20px;}

#cong_txt { width: 588px; font-size: 17.5px;}

#contact {
	text-align: center;
	font-size: 16px;
}